<a href="https://colab.research.google.com/github/hndrzn/Elective1-2/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Indentation

In [ ]:
if 31>32:    #conditional statement if 31 is greater than 32
  print("32 is greater than 31") 
else:
  print("31 is less than 32")

2 is less than 5

In [ ]:
x = 'Hisato'
y = 9000

print(x)
print(y)

Hisato
9000

In [ ]:
print(type(x))  # x was declared as a string == 'Hisato' ; therefore class type is string
print(type(y))  # y was declared as an int with a value == 9000 ; therefore class type is integer

<class 'str'>
<class 'int'>