<a href="https://colab.research.google.com/github/hndrzn/Elective1-2/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Boolean Operators

In [ ]:
print(31>32) #returns value FALSE
print(31==31) #returns value TRUE
print(31<32)  #returns value TRUE

False
True
True

In [ ]:
31>32
31==31
31<32   #returns only one value, only last line is read

True

##Bool Function

In [ ]:
print(bool("False"))
print(bool(31))

#both lines above return TRUE value as they both contain a value

#suceeding lines below return FALSE value as they contain no or negate a value

print(bool(0))
print(bool())
print(bool(False))
print(bool(None))

True
True
False
False
False
False

##Function

In [ ]:
def myFunction():
  return True

if myFunction():
   print("Yes")
else:
   print("No")

Yes

##Application 1

In [ ]:
print(10>9)   #returns value TRUE

a=6           #assign a = 6
b=7           #assign b = 7

print(a==b)    # 6 != 7 therefore returns FALSE value

print(a!=a)   # a = a therefore a!=a is FALSE

True
False
False

##Python Operators

In [ ]:
#Arithmetic Operation

print(1+1)  #Addition + operator

print(2-1)  #Subtraction - operator

print(2*2)  #Multiplication * operator

print(10/2) #Division / operator

2
1
4
5.0

##Python Bitwise Operators

In [ ]:
print(31 & 13)
print(31 | 13)
print(31 ^ 13)

31 >> 2

13
31
18

7

##Python Assignment Operators

In [ ]:
x = 20     #assign value of x = 20

x//=5      #divide x // 5
print(x) #x = x//5 = 4

4

##Logical Operators

In [ ]:
x = True
y = False 

print(x and y)
print(x or y)

False
True

##Identity Operators

In [ ]:
Mako = x
Neko = y

Mako is Mako
Mako is not Neko

True